<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>

  <appSettings>
    <!-- Selenium: -->
    <add key="WebDriver" value="Firefox"/>    
    <add key="WebAppRoot" value="http://localhost:59190"/>
    <!-- Email: -->
    <add key="EmailDirectory" value="C:\NetPonto-Demo\SentEmail"/>
  </appSettings>
</configuration>